<div class="bg-neutral-950 relative h-[80vh] flex items-center justify-center">
  <div>
    <div
      style="background-image: url('https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg')"
      aria-hidden="true"
      class="w-full absolute inset-0 top-0 left-0 h-full bg-cover bg-center bg-fixed"
    >
    </div>
  </div>
  <div class="absolute inset-0 top-0 left-0 w-full h-full bg-neutral-950/95">
  </div>
  <div class="px-6 py-24 sm:py-24 lg:px-8 relative z-10">
    <div class="mx-auto max-w-4xl text-center">
      <h2
        class="text-4xl font-bold font-serif tracking-tight text-balance text-white sm:text-6xl"
      >
        Encuentra abogados especializados en tu caso
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-lg text-pretty text-neutral-200">
        Incididunt sint fugiat pariatur cupidatat consectetur sit cillum anim id
        veniam aliqua proident excepteur commodo do ea.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="#"
          class="rounded bg-white px-5 py-2.5 text-sm font-semibold text-neutral-950 shadow-xs hover:bg-neutral-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
        >
          Registrate ahora
        </a>
      </div>
    </div>
  </div>
</div>
